<footer class="footer bg-dark  ">
    <div class="container container-footer d-flex justify-content-center">
        <div class="row">
            <div class="footer-col text-center mx-5">
                <h4 class="text-white">company</h4>
                <ul>
                    <li class="fo"><a href="">about us</a></li>
                    <li class="fo"><a href=""> our services</a></li>
                    <li class="fo"><a href="">privacy policy</a></li>
                    <li class="fo"><a href="">affiliate program</a></li>
                </ul>
            </div>
            <div class="footer-col text-center mx-5">
                <h4 class="text-white">get hellp</h4>
                <ul>
                    <li class="fo"><a href="">FAQ</a></li>
                    <li class="fo"><a href="">shopping</a></li>
                    <li class="fo"><a href="">returns</a></li>
                    <li class="fo"><a href="">order status</a></li>
                    <li class="fo"><a href="">payment options</a></li>
                </ul>
            </div>
            <div class="footer-col text-center mx-5">
                <h4 class="text-white">online shop</h4>
                <ul>
                    <li class="fo"><a href="">watch</a></li>
                    <li class="fo"><a href="">bag</a></li>
                    <li class="fo"><a href="">shoes</a></li>
                    <li class="fo"><a href="">dress</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
